---
layout: style
---

header .intro-text .intro-lead-in,
header .intro-text .intro-heading {
    text-shadow: 1px 1px 5px #000;
}

header .intro-text .intro-heading {
    line-height: 1.1em;
}

#mc_embed_signup form {
    padding-left: 0px !important;
}

.sold-out {
    background: #333;
    color: #fff;
    padding-left: 7px;
    padding-right: 7px;
}
