<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <h3 class="section-subheading text-muted">&nbsp;</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p class="large text-muted">
                        The Retros are the house improv troupe of The
                        Little Theatre in Alexandria. Founded in 2014, the
                        troupe has grown to 8 members that perform monthly
                        improv comedy shows.
                    </p>
                </div>
            </div>
        </div>
    </section>
