<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <h3 class="section-subheading text-muted">&nbsp;</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p class="large text-muted">
                        The Retrocessionists are the house improv troupe of The
                        Little Theatre in Alexandria. Founded in ####, the
                        troupe has grown to 8 members that perform monthly
                        improv comedy shows.
                    </p>
                    <p class="large text-muted">
                        The Retrocessionists take their name from an event that
                        transpired over two centuries ago. In 1790, Virginia
                        and Maryland ceded land to the United States federal
                        government to form Washington, DC.  Almost immediately
                        afterward (and for a variety of both serious and silly
                        reasons) Virginia wanted its land back.
                    </p>
                    <p class="large text-muted">
                        In 1847, after numerous petitions, Virginia succeeded.
                        This was known as "the Retrocession", and the returned
                        land includes Alexandria, VA, home of the
                        Retrocessionists.  Interestingly, this action may not
                        have been, like, constitutionally allowed and stuff.
                    </p>
                </div>
            </div>
        </div>
    </section>
