<!-- Services Section -->
    <section id="shows">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Upcoming Shows</h2>
                    <h3 class="section-subheading text-muted">&nbsp;</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    {% for show in site.shows %}
                        <div class="show">
                            <h4>{{ show.date }} - {{ show.time }}</h4>
                            <h4><a href="{{ show.url }}">{{ show.title }}</a></h4>
                            <p class="text-muted">{{ show.location }} (<a href="https://www.google.com/maps/place/{{ show.location }}">Map</a>)</p>
                            <hr />
                        </div>
                    {% endfor %}
                    <a href="https://calendar.google.com/calendar?cid=a3ZoYjI5NGlxbzg1YTZuaGUxZTUwN3I2YmtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ">Subscribe via Google Calendar</a>
                </div>
            </div>
        </div>
    </section>
