<!-- Services Section -->
    <section id="shows">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Upcoming Shows</h2>
                    <a href="https://calendar.google.com/calendar?cid=a3ZoYjI5NGlxbzg1YTZuaGUxZTUwN3I2YmtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ">Add to Google Calendar</a>
                    <h3 class="section-subheading text-muted">&nbsp;</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    {% for show in site.shows %}
                        <div class="show">
                            <h4>{{ show.date }} - {{ show.time }} {% if show.sold_out %}SOLD OUT{% endif %}</h4>
                            {% if show.url %}
                                <h4><a href="{{ show.url }}">{{ show.title }}</a></h4>
                            {% else %}
                                <h4><a https://www.eventbrite.com/o/the-little-theatre-of-alexandria-12763882092?aff=website">{{ show.title }}</a></h4>
                            {% endif %}
                            <p class="text-muted">{{ show.location }} (<a href="https://www.google.com/maps/place/{{ show.location }}">Map</a>)</p>
                            <hr />
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- Begin Mailchimp Signup Form -->
                    <div id="mc_embed_signup">
                        <form action="https://facebook.us2.list-manage.com/subscribe/post?u=dc37a2e5fe3ea94aafab96a5b&id=4a74995793" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <label for="mce-EMAIL">Learn About Our Upcoming Shows</label>
                                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dc37a2e5fe3ea94aafab96a5b_4a74995793" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                            </div>
                        </form>
                        <br />
                        <br />
                    </div>
                    <!--End mc_embed_signup-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Past Shows</h2>
                    <h3 class="section-subheading text-muted">&nbsp;</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    {% for show in site.past_shows %}
                        <div class="show">
                            <h4>{{ show.date }} - {{ show.time }} 
                                {% if show.sold_out %}
                                <span class="sold-out"><b>SOLD OUT</b>
                                {% endif %}</h4>
                            <h4><a href="{{ show.url }}">{{ show.title }}</a></h4>
                            <p class="text-muted">{{ show.location }} (<a href="https://www.google.com/maps/place/{{ show.location }}">Map</a>)</p>
                            <hr />
                        </div>
                    {% endfor %}
                    <a href="https://www.eventbrite.com/o/the-little-theatre-of-alexandria-12763882092?aff=website">See all past shows...</a>
                    <hr />
                </div>
            </div>
        </div>
    </section>
